@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text {
    @apply p-3 border-b-4 rounded-lg border-white outline-none transition   focus:border-green-pon focus:transition focus:duration-700;
  }
  .profile-text {
    @apply bg-white p-3 rounded-lg  text-xl w-3/4 flex gap-y-6 flex-col items-center;
  }
  .btn-default {
    @apply mb-5 bg-white p-4 rounded-lg text-green-pon uppercase font-bold;
  }

  .btn-default:hover {
    @apply bg-[#0da47c]  text-white duration-700;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
